body {
    background-color: rgb(212, 181, 167);
}

footer {
    background-color: rgb(126, 72, 47);
    color: antiquewhite;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    margin
}